.App {
  text-align: center;
}

.Zomato {
  text-align: center;
}

#zomato-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: brown;
  color: white;
}

h3{
  font-style: italic;
  font-weight: normal;
}

#main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #f3ce93;
  color:black;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width:20%
}

.nav-links a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.nav-links li{
  list-style: none;
}